
.toolTip {
	position: absolute;
	text-align: center;
	white-space: nowrap;
	z-index: 1;

	color: black;
	background-color: var(--green);

	border: outset ;
	border-color: green;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	
	padding: 1rem;
	border-radius: 0.3rem;
	
	font-family: var(--font);
}

