chalanges/pages/**

venv/**
*.env
**/*.venv
**/node_modules/**
**/build/**
**/*.eslintcache

dev/chalange/src/shared/**
dev/browse/src/shared/**
dev/user/src/shared/**
dev/home/src/shared/**

production/volume/static/users/**