.card{
	position: relative;
	border-radius: 0.5rem;
	background-color: #fbceb1;
	margin: 1rem;
	padding: 1rem;
	width: calc(100% - 4rem);
	border: none;
	text-align: left;
	max-height: 15rem;
	max-width: 30rem;
}
.card:hover{
	/*background-color: #ffd5b8;*/
	cursor: pointer;
}
.card:active{
	background-color: #fbceb1;
}