body{
	background-color: #faebd7;
}

.vscroll{
	overflow: auto;
	white-space: nowrap;
}
.hscroll{
	overflow-x: hidden;
	overflow-y: auto;
}

:root {
  --backGround: #faebd7;	
  --apricot: #fbceb1;
  --champagne: #fad6a5;
  --champagne_hover: #eac695;
  --champagne_active: #dab685;
  --UNblue: #5b92e5;
  --UNblue_hover: #6ba2f5;
  --DKgreen: #8fbc8f;
  --DKgreen_hover: #9fcc9f;
  --brown: #F1AF86;
  --red: #ff7676;
  --red_hover: #ff8686;
}


.green{
	background-color: var(--DKgreen) !important;
}
.green:hover{
	background-color: var(--DKgreen_hover) !important;
}
.green:active{
	background-color: var(--DKgreen) !important;
}

.gridContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}