
:root {
  --backGround: #faebd7;	
  --apricot: #fbceb1;
  --champagne: #fad6a5;
  --champagne_hover: #eac695;
  --champagne_active: #dab685;
  
  --red: #ff7676;
  --green: #8fbc8f;
  --blue: #5b92e5;
  --brown: #F1AF86;
  --red_hover: #ff8686;
  --green_hover: #9fcc9f;
  --blue_hover: #6ba2f5;
 
  --cardHeight: 15rem;
}



body{
	background-color: #faebd7;
}
.vscroll{
	overflow: auto;
	white-space: nowrap;
}
.hscroll{
	overflow-x: hidden;
	overflow-y: auto;
}
.gridContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.green{
	background-color: var(--green) !important;
}
.green:hover{
	background-color: var(--green_hover) !important;
}
.green:active{
	background-color: var(--green) !important;
}

.red{
	background-color: var(--red) !important;
}
.red:hover{
	background-color: var(--red_hover) !important;
}
.red:active{
	background-color: var(--red) !important;
}

.blue{
	background-color: var(--blue) !important;
}
.blue:hover{
	background-color: var(--blue_hover) !important;
}
.blue:active{
	background-color: var(--blue) !important;
}


.latex{
	margin-bottom: -.3rem;
	border-radius: 0.3rem; 
	padding: 0.3rem; 
	background-color: var(--apricot); 
}



.btnRound{
	white-space: pre-wrap;
	vertical-align: middle;
	margin: 0.3rem;
	font-size: 0.7rem;
	background-color: var(--blue);
	color: white;
	border: none;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}


