.textWithLatex {
	white-space: break-spaces;
}

.bottomRight {
	position: fixed;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
.bottomLeft {
    display: flex;
    align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
    margin: 0.3rem;
}
.vscroll {
    width: calc(100vw - 15rem);
	overflow: auto;
	white-space: nowrap;
}
.vscroll a:hover {
	background-color: #777;
}

.additional {
	vertical-align: middle;
	background-color: #5b92e5;
	border-radius: 100px;
	border-color: #e7feff;
	border-width: 0.1rem;
	border-style: solid;
	width: 2rem;
	height: 1.8rem;
    margin: 0rem 0.3rem 0rem 0rem;
}
.additional:hover {
	background-color: #6ba2f5;
}
.additional:active {
	background-color: #5b92e5;
}

.additionalMenue {
    position: fixed;
    left: 0.3rem;
    bottom: 4rem;
    background-color: #5b92e5;
    padding: 0.3rem;
    overflow-wrap: break-word;
    border-radius: 0.3rem;
	color: white;
}
.additionalArrow {
    position: fixed;
    left: 0.9rem;
    bottom: 3.5rem;
    background-color: #5b92e5;
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
}

.report {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}
.report:hover {
	color: red;
}

.sendMessage{
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}
.sendMessage:hover {
	color: green;
}


.info {
	width: 1.3rem !important;
	height: 1.3rem  !important;
	border-color: black  !important;
	border-width: 0.1rem !important;
	border-style: solid !important;
	margin-left: 1rem !important;
}






