.card {
	display: inline-block;
	position: relative;
	border-radius: 0.5rem;
	background-color: #fbceb1;
	margin: 1rem;
	padding: 1rem;
	width: calc(100% - 4rem);
	border: none;
	text-align: left;
	height: var(--cardHeight);
	overflow: hidden;
}
.redirect:hover {
	cursor: pointer;
}

.narrowWindow{
	width: calc(100% - 5rem);
	height:  unset;
	max-height: var(--cardHeight);
}
.wideWindow{
	width: calc(50% - 5rem);
}