.bottomLeftExerciseCard{
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0.6rem;
}
.bottomRightExerciseCard{
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 0.3rem;
}
.topRightExerciseCard{
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0.6rem;
}

