.bottomMenue{
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: var(--pink);
    justify-content: center;
}

.btnBottomMenue{
	height: 2.5rem;
}
