.btnRound:hover{
	background-color: #6ba2f5;
}
.btnRound:active{
	background-color: #5b92e5;
}

.btnRoundOn{
	vertical-align: middle;
	margin: 0.3rem;
	font-size: 0.7rem;
	background-color: #8fbc8f;
	color: white;
	border: none;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}
.btnRoundOn:hover{
	background-color: #9fcc9f;
}
.btnRoundOn:active{
	background-color: #8fbc8f;
}
