.qscroll {
  position: fixed;
  bottom: 0px;
  background-color: #F1AF86;
  width: calc(100% - 1.2rem);
  margin: 0.6rem;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  border-radius: 0.3rem;
  
}